html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
button {
  border: none;
  cursor: pointer;
}
* {
  margin: 0;
  padding: 0;
}
.wrapper {
  max-width: 1920px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: azure;
}
.content {
  flex: 1 0 auto;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
/*header*/
.header {
  width: 100%;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  background: #00894e;
  background-image: linear-gradient(to bottom, #00b35f, #00894e);
}
.header__wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  width: 300px;
}
.header__logo img {
  width: 100%;
  height: 100%;
  display: block;
}
.basket {
  width: 50px;
  height: 50px;
  position: relative;
}
.basket-count {
  position: absolute;
  min-width: 20px;
  height: 20px;
  border-radius: 25%;
  background-color: red;
  right: -20px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  box-sizing: content-box;
  padding: 2px 5px;
}
.basket img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/*promo*/
.shop {
  width: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
}
.shop__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.shop__item {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  box-sizing: border-box;
  gap: 20px;
  box-shadow: 0px 1px 34px 0px #c0c0c040;
}
.shop__image {
  width: 300px;
  height: 300px;
  position: relative;
}
.shop__like {
  fill: #9a9a9a;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  right: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.shop__like:hover {
  opacity: 0.5;
}
.shop__like.active {
  fill: red;
}
.shop__image img {
  display: block;
  width: 100%;
  height: 100%;
}
.shop__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
}
.shop__price {
  font-weight: 500;
  font-size: 24px;
  line-height: 28.8px;
  color: 010101;
}
.shop__name {
  display: block;
  color: 010101;
  max-width: 300px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  -webkit-line-clamp: 4; /* количество строк */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.shop__btn {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  background: #00894e;
  background-image: linear-gradient(to bottom, #00b35f, #00894e);
  position: relative;
  transition: all 0.3s ease-in-out;
}
.shop__btn::before {
  position: absolute;
  content: "в корзину";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.shop__btn:hover,
.shop__btn.active {
  background: transparent;
  color: #00894e;
  border: 1px solid #00894e;
}
.shop__btn:hover::before {
  color: #00894e;
}
.shop__btn.active::before {
  content: "в корзине";
  color: #00894e;
}
/*footer*/
.footer {
  flex: 0 0 auto;
  background: #00894e;
  background-image: linear-gradient(to bottom, #00b35f, #00894e);
}
.footer__wrapper {
  margin: 30px auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.ildm {
  color: azure;
  display: flex;
  align-items: center;
}
.copyright {
  color: azure;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 8px;
}
.copyright:hover {
  background: linear-gradient(180deg, #23242d 0%, rgba(35, 36, 45, 0.5) 100%);
  transition: 0.3s ease-in-out;
}
